* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-width: 400px;

}

.alignChildren {
  font-size: 0;
}

.alignChildren > * {
  display: inline-block;
  font-size: medium;
  vertical-align: top;
}

.imageContainer{
  text-align: center;
  background-color: white;
  border:3px solid #4169e1;
  position: relative;
  padding: 10px;
  margin: 0 auto;
  perspective: 2000px;
  position: relative;
  background-opacity: 0;
}


.iconTurn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

input {
  z-index: 2;
  outline: none;
  margin: 0 auto;
  /*visibility: hidden;
  display: none;*/
}

i {
  z-index: 1;
  outline: none;
  text-align: center;
}
    

.imgHolder{
  position: relative;
  top: 0;
  left: 0;
  outline: none;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  transition: 1s all ease;

}

.front{
  position: relative;
}

.back{
  transform:rotateY(180deg);
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;

}
input[type="checkBox"]:checked + .imgHolder {
transform: rotateY(180deg);
}



.iconContainer{
  text-align: center;
  background-color: white;
  border:3px solid #4169e1;
  position: relative;
}


.iconBox:hover > .swatch{
  background-color: rgba(00, 0, 0, 0.2);
  color: white;
  transform:rotateX(360deg);
}



          .iconBox{
            position: relative;
            display: inline-block;
            width: 20%;
            border: 3px solid #4169e1;
            line-height: 30px;
            padding-top: 10px;
          }

                .iconBox:hover > .sizeBox{                  
                      color: #4169e1;
                      display:block;

                    }

                    .fafa-cog {
                      font-size: 20px;
                    }

.sizeBox {
  background-color: rgba(00, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: -195px;
  right:50%;
  transform: translateX(50%);
  display: none;
}

        .size {
        margin-bottom: 10px;
        }

.swatchBox{
  background-color: rgba(00, 0, 0, 0.2);
  position: absolute;
  top: -85px;
  display: none;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}





    .iconBox:hover > .swatchBox{
  display: block;
}


      .swatch{
        display: inline-block;
        margin: 2.5px;
        width: 40px
      }

              .swatch i{
                font-size: 20px;
              }


.labelContainer {
background-color: #4169e1;
color:white;
}

.labelContainer > *{
  display: inline-block;
  font-family: 
  color: white;
  font-size: 20px;

}

.productPrice{
  float: right;
}