* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.layout {
  width: 100%;
  padding: 10px;
  min-width: 200px;
}
.shirtBox {
  width: 100%;
}

.imageContainer {
    background-color: white;
    border: 1px solid #4169e1;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    perspective: 2000px;
    position: relative;
    background-opacity: 0;
}

.iconTurn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

i#iconTurn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 1;
}

.imgHolder {
    position: relative;
    top: 1;
    left: 0;
    outline: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s all ease;
    width: 100%;
}

        .imgHolder img {
          width: 100%;
        }

.front {
    position: relative;
    backface-visibility:hidden;

}

.back {
    backface-visibility:hidden;
    transform: rotateY(180deg);
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
}

input[type="checkBox"]:checked + .imgHolder {
    transform: rotateY(180deg);
    transition: 1s all ease;
}


input[type="checkBox"].iconTurner {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

.iconContainer {
    text-align: center;
    background-color: rgba(00, 0, 0, 0.2);
    border: 1px solid #4169e1;
    position: relative;
}

.iconBox {
    position: relative;
    display: inline-block;
    width: 20%;
    border: 1px solid #4169e1;
    line-height: 30px;
    padding-top: 10px;
    border-radius: 10%;
    background-color: white;
}

        .iconBox:hover {
        background-color: rgba(00, 0, 0, 0.2);
        color: white;
        transition: 0.5s ease;
        cursor: pointer;
         background-color: #504169e1; 
        color:white;
        transition:1.5s all ease;
    }

            .iconBox .material-icons {
            font-size: 1.5em;
            }

.boxed {
    background-color: rgba(00, 0, 0, 0.2);
    transition: 2s ease;
    transform-style: preserve-3d;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    bottom: 100%; 
    left: 50%;
}

        .iconBox:hover > .boxed {
            transition: 1s ease;
            opacity: 1;
        }


.size {
    margin-bottom: 10px;
    font-size: 40px;
    padding: 1%;
}


.sizeBox {
    padding: 25%;
}

    .size:hover {
        color: blue;
    }




.swatchBox{
    width: 100px;/
    bottom: 10px;
}

.swatch {
    display: inline-block;
    width: 50%;
    padding: 5px;
}
    .swatch img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

.arrow {
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 0;
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #4169e1;
}

.labelContainer {
  position: relative;
    background-color: #4169e1;
    color: white;
    padding: 0, 10%;
    font-family: Hel­vetica Neue;
}

.labelContainer > * {
    font-size: 20px;
    line-height: 30px;
}

.productName {
text-align: left;
width: 75%;
}


.productPrice {
text-align: right;
width: 25%;
}



@media screen and (min-width: 600px)  {
.layout {
  width: 100%;
}
}


@media screen and (min-width: 700px)  {
.layout {
  width: 33.3333%;
}
}
