* {
  box-sizing: border-box;
}

body {
  font-size: 0;
}

div.deets{
  color: #76B1DE;
  font-family: sans-serif;
  font-size: 20px;
}

div .deets .cost{
  float: right;
}

#wrapper > * {
  position: relative;
  border: 1px solid #76B1DE;
  position: relative;
  max-width: 350px;
  margin: 0;
  background-color: white;
}

.turnIcon {
  position: relative;
  float: right;
  width: 20%;
  z-index: 2;
}

.turnicon:checked .menubar{
  background-color: blue;
}


.container{
  border: 2px solid white;
  height:350px;
  width:350px;
  padding:0px;
  perspective: 1000px;
  margin: 0 auto;
}


.container:hover .card {
  transform: rotateY(180deg);
}

.card {
      position: relative;
      transform-style: preserve-3d;
      transition: 0.6s;
    }

.card .front {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 348px;
      width: 348px;
      background-color: white;
      z-index: 1;
    }

.card .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        color: white;
        height: 348px;
        width: 348px;
        transform: rotateY(180deg);
      }




.menubar {
  display: inline-block;
  width: 350px;
  vertical-align: bottom;
  }


.icon {
  vertical-align: bottom;
  border: 1px solid #76B1DE;
  display: inline-block;
  width: 20%;
}

.icon:hover{
  background-color: #76B1DE; 
}

